{% assign applets = site.pages | where: 'applet', true | sort: 'order' %}
{% for item in applets %}
{% assign is_active = false %}
{% if item.url == page.url %}
{% assign is_active = true %}
{% endif %}

{% if is_active %}
<a href="{{ item.url | relative_url }}" class="active">
    <i>
        {{ item.icon }}
    </i>
        
    <span>{{ item.title }}</span>
</a>
{% else %}
<a href="{{ item.url | relative_url }}">
    <i>
        {{ item.icon }}
    </i>
    <span>{{ item.title }}</span>
</a>
{% endif %}

{% endfor %}

<hr class="{{ include.divider_class }}">

{% assign docs = site.data.exits.docs %}
<a href="{{ docs.url }}">
    <i>
        {{ docs.icon }}
    </i>
    <span>{{ docs.title }}</span>
</a>
