
{%- assign page_title = site.title -%}
{%- if page.seo_title -%}
  {%- assign page_title = page.seo_title -%}
{%- elsif page.title -%}
  {%- assign page_title = page.title | append: ' - ' | append: site.title -%}
{%- endif -%}

{%- assign canonical_url = page.url | remove: "index.html" | absolute_url -%}

{%- assign excerpt_description = page.excerpt | strip_html | normalize_whitespace | strip -%}
{%- assign meta_description = page.description | default: excerpt_description | default: site.description | strip_html | normalize_whitespace | strip -%}

{%- assign meta_image = page.og_image | default: site.og_image | absolute_url -%}

<title>{{ page_title }}</title>
<meta name="description" content="{{ meta_description }}">
<link rel="canonical" href="{{ canonical_url }}">

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:image" content="{{ meta_image }}">
<meta property="og:locale" content="{{ page.locale }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ meta_description }}">
<meta name="twitter:url" content="{{ canonical_url }}">
<meta name="twitter:image" content="{{ meta_image }}">
