<header class="fixed top responsive max primary">
    <nav>
        <div class="s">
            {% include logo.html %}
        </div>

        <h5 class="max center-align">{{ site.display_title }}</h5>

        {% assign website = site.data.exits.website %}
        <a href="{{ website.url }}" title="{{ website.title }}" target="_blank">
            <i>{{ website.icon }}</i>
        </a>

        {% for link in site.data.header.links %}
        <a href="{{ link.url }}" title="{{ link.title }}" target="{{ link.target }}">
            {% if link.image != nil %}
            <img src="{{ link.image.url | relative_url }}" alt="{{ link.image.alt }}"  height="{{ link.image.height }}" />
            {% endif %}
        </a>
        {% endfor %}

        <theme-switcher data-button-class="transparent circle">

        </theme-switcher>
    </nav>
</header>